:root{
    --bg_mainBG : rgb(230, 230, 230);
    --bg_math_btn_BG :  rgb(240, 240, 240);
    --digit_btn_BG : rgb(250, 250, 250);
    --bg_hover : rgba(159, 158, 158, 0.4901960784);
    --border_radius : 0rem;
    --font_family : sans-serif;
    --scale : scale(1);
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--font_family);
}

.mainContainer{
    min-height: 410px;
}

/* header section ######################################################################*/

.headBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    grid-area: header;
    font-size: 15px;
}
.calName{
    padding-left: 7px;
    padding-top: 2px;
    margin-top: 0px;
    font-size: 12px;
}
.windowControlerBar{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: stretch;
}
.closePageIcon:hover{
    background-color: red;
    color: white;
    
}

.windowsControlBtn{
    padding: 0px 15px;
}
.otherClosePageIcon:hover{
    /* background-color: rgb(207, 207, 207); */
    background-color: var(--bg_hover);
}
/*histoty bar section ###################################################################*/
.historyBar{
    max-width: 320px;
    display: flex;
    flex-direction: column;
    grid-area: history;
    justify-content: start;
    gap: 2em;
    padding: 5%;
    font-weight: bold ;
    font-size: small;
}

.historyAndMemoryBar{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
}
.historyResultBar{
    font-size: 0.9em;
}
.historyName{
    border-bottom: solid orange;
}


/* display section ####################################################################*/
.displaySection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: standard;
}
.standardBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.standardLeftBar{
    display: flex;
    flex-direction: row;
    align-items: baseline;   
}

sup { vertical-align: super; font-size: 0.6em; }

.standardItems{
    padding: 2px 10px;
}
.menuStandardBtn:hover{
    background-color: var(--bg_hover);
    border-radius: var(--border_radius);
}
.OCHistory{
    padding-right: 1em;
}

.display{
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    padding-right: 4%;
}



.memeoryBar{
    padding-bottom: 3px;

}

.LeftHandMemoryBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* width: 360px; */
    width: clamp(50% , 100% , 360px);
    box-sizing: border-box;
    float: left;
}
.memoryBtn{
    font-size: 10px;
    padding: 10px 3vw;
    border-radius: var(--border_radius);
    flex: 1;
    text-align: center;

}
.memoryBtn:hover{
    /* background-color: rgb(240 , 240, 240); */
    /* background-color: var(--bg_math_btn_BG); */
    background-color: var(--bg_hover);
}

.opacityM{
    opacity: 30%;
}
.lastM{
    display: none;
    box-sizing: border-box;
    float: right;
    margin-right: 4%;
}

/* keyboard section #######################################################################*/
.keyboard{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-area: pad;
    text-align: center;
    gap: 2px;
}

button{
    all: unset;
    
    transition: 0.5s;
}

button:hover{
    transform: var(--scale);
}
.digitBtn{
    /* background-color: rgb(250, 250, 250); */
    background-color:var(--digit_btn_BG);
    border-radius: var(--border_radius);
    font-weight: bold;
    font-size: 25px;
}
.digitBtn:hover{
    /* background-color: rgb(230, 230, 230);*/
    /* background-color: var(--bg_hover_mainBG); */
    background-color: var(--bg_hover);
}
.mathBtn{
    /* background-color: rgb(240, 240, 240); */
    background-color: var(--bg_math_btn_BG);
    border-radius: var(--border_radius);
}

.mathBtn:hover{
    /* background-color: rgb(230, 230, 230); */
    /* background-color: var(--bg_hover_mainBG); */
    background-color: var(--bg_hover);
}

img{
    width: 15px;
}
.operationBtn{
    font-size: 30px;
    font-weight: lighter;
}

@media only screen and (min-width:1024px){
    .mainContainer{
        width: 100vw;
        height: 100vh;
        /* background-color: rgb(230, 230, 230); */
        background-color: var(--bg_mainBG);
        display: grid;
        grid-template-columns: auto auto 320px;
        grid-template-rows: 5% auto 63%;
        grid-template-areas: 
        "header header header"
        "standard standard history"
        "pad pad history";
    }


}

@media only screen and (min-width:740px) and (max-width:1024px){
    .mainContainer{
        width: 100vw;
        height: 100vh;
        /* background-color: rgb(230, 230, 230); */
        background-color: var(--bg_mainBG);
        display: grid;
        grid-template-columns: auto auto 320px;
        grid-template-rows: 5% auto 63%;
        grid-template-areas: 
        "header header header"
        "standard standard history"
        "pad pad history";

        
    }
}
@media only screen and (min-width:500px) and (max-width:740px){
    .mainContainer{
        width: 100vw;
        height: 100vh;
        /* background-color: rgb(230, 230, 230); */
        background-color: var(--bg_mainBG);
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 5% auto 63%;
        grid-template-areas: 
        "header header"
        "standard history"
        "pad history";

        
    }
}

@media only screen and (max-width:1024px){
    .keyboard{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-area: pad;
        text-align: center;
        gap: 2px;
    }
    .extraBtn{
        display: none;
    }
    
    .padBtn:nth-child(6) {
        grid-area: 1 / 2 / 2 / 3;
    }
    
    .padBtn:nth-child(11) {
        grid-area: 1 / 3 / 2 / 4;
    }
    
    .padBtn:nth-child(21) {
        grid-area: 1 / 4 / 2 / 5;
    }
}
@media only screen and (max-width:500px){
    .mainContainer{
        width: 100vw;
        height: 100vh;
        /* background-color: rgb(230, 230, 230); */
        background-color: var(--bg_mainBG);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% auto 63%;
        grid-template-areas: 
        "header"
        "standard"
        "pad";
    }

    .historyBar{
        display: none;
    }
    .memeoryBar{
        width: 100%;
        box-sizing: border-box;
    }
    .lastM{
        display: inline;
    }
}

@media only screen and (max-height: 410px) {
    .mainContainer{
        min-height: 410px;
    }
}


/* themes */
.greenTheme{
    --bg_mainBG : #BBD6B8;
    --bg_math_btn_BG :  #94AF9F;
    --digit_btn_BG : #aec2b6;
    --bg_hover : #dbe4c6;
    --border_radius : 1rem;
    --font_family : monospace;
}

.blueTheme{
    --bg_mainBG : #bcdefb;
    --bg_math_btn_BG :   #4fb3f6;
    --digit_btn_BG : rgba(111, 208, 249, 0.8980392157);
    --bg_hover : #418ac6;
    --border_radius : 2rem 0 2rem 0;
    --font_family: sans-serif;
}

.myTheme{
    --bg_mainBG : #fd68d0;
    --bg_math_btn_BG :   #fdb3f6;
    --digit_btn_BG : rgba(249, 111, 249, 0.898);
    --bg_hover : #fd8ac6;
    --border_radius : 5rem 5rem 0rem 0;
    --scale : scale(1.2);
    --font_family: cursive;
}