*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.mainContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgb(230, 230, 230);
    display: grid;
    grid-template-columns: auto auto 320px;
    grid-template-rows: 25px auto 420px;
    grid-template-areas: 
    "header header header"
    "standard standard history"
    "pad pad history";
}

.headBar , .closeBar , .historyBar , .historyAndMemoryBar , .standardLeftBar , .standardSection , .standardBar , .MBar{
    display: flex;
}

.headBar{
    flex-direction: row;
    justify-content: space-between;
    grid-area: header;
    font-size: large;
}
.closeBar{
    flex-direction: row;
    justify-content: right;
    gap: 1rem;
    font-size: x-large;
}
.closePageIcon:hover{
    background-color: red;
    color: white;
}
.otherClosePageIcon:hover{
    background-color: rgb(207, 207, 207);
}
.historyBar{
    flex-direction: column;
    grid-area: history;
    justify-content: start;
    gap: 2em;
}

.historyAndMemoryBar{
    flex-direction: row;
    gap: 1rem;
    
}
.historyName{
    border-bottom: solid orange;
}
.standardSection{
    flex-direction: column;
    justify-content: space-between;
    grid-area: standard;
}
.standardLeftBar{
 flex-direction: row;
 gap: 2em;
}
sup { vertical-align: super; font-size: 0.6em; }
.menuBtn{
    text-align: center;
}
.menuBtn:hover{
    background-color: rgb(208, 208, 208);
}
.OCHistory{
    padding-right: 1em;
}
.standardBar{
    flex-direction: row;
    justify-content: space-between;
    font-size: x-large;
   }

.display{
    text-align: right;
    padding: 1rem;
    font-size: xx-large;
}

.MBar{
    gap: 2.7em;
}
.opacityM{
    opacity: 30%;
}

.padSection{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-area: pad;
    text-align: center;
    gap: 2px;
}

button{
    all: unset;  
}

.digitBtn{
    background-color: rgb(250, 250, 250);
}
.digitBtn:hover{
    background-color: rgb(230, 230, 230);
}
.mathBtn{
    background-color: rgb(240, 240, 240);
}

.mathBtn:hover{
    background-color: rgb(230, 230, 230);
}

img{
    width: 15px;
}

@media only screen and (max-width:650PX){
    .mainContainer{
        width: 100vw;
        height: 100vh;
        background-color: rgb(230, 230, 230);
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 5% 30% 65%;
        grid-template-areas: 
        "header header header"
        "standard standard history"
        "pad pad history";
    }
    .padSection{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-area: pad;
        text-align: center;
        gap: 2px;
    }
    .extraBtn{
        display: none;
    }
    
    .padBtn:nth-child(6) {
        grid-area: 1 / 2 / 2 / 3;
    }
    
    .padBtn:nth-child(11) {
        grid-area: 1 / 3 / 2 / 4;
    }
    
    .padBtn:nth-child(21) {
        grid-area: 1 / 4 / 2 / 5;
    }
}
/*
@media only screen and (min-width:650px) and (max-width:750px){
    
    .padSection{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-area: pad;
        text-align: center;
        gap: 2px;
    }
    .extraBtn{
        display: none;
    }
    
    .padBtn:nth-child(6) {
        grid-area: 1 / 2 / 2 / 3;
    }
    
    .padBtn:nth-child(11) {
        grid-area: 1 / 3 / 2 / 4;
    }
    
    .padBtn:nth-child(21) {
        grid-area: 1 / 4 / 2 / 5;
    }
}



